.container {
    width: 750px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
.section-heading {
    margin-bottom: 50px;
}
section h2 {
    font-size: 50px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
    letter-spacing: 1px;
}
.h2, h2 {
    font-size: 30px;
}
 .h2,  h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}
 .h2, h2 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.text-muted {
    color: #777;
}
.timeline {
    display: block;
}
.timeline {
    list-style: none;
    padding: 0;
    position: relative;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
ul {

    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.timeline > li {
    min-height: 170px;
}

.timeline > li {
    margin-bottom: 50px;
}
.timeline > li {
    position: relative;
}
.timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
}
.timeline > li .timeline-panel {
    width: 41%;
}
.timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
}
.timeline > li .timeline-image {
    left: 50%;

}
.timeline > li .timeline-image {
    position: absolute;
    background-color: #fed136;
    color: white;
    border-radius: 100%;
    border: 7px solid #f1f1f1;
    text-align: center;
}
.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
    font-size: 26px;
    font-weight: 800;
}
.timeline > li .timeline-panel {
    position: relative;
}
.timeline:before {
    left: 50%;
}
.timeline:before {
    top: 0;
    bottom: 101px;
    position: absolute;
    content: "";
    width: 4px;
    background-color: #f1f1f1;
    margin-left: -1.5px;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.timeline > li:before, .timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
h4 {
    font-weight: 200;
    letter-spacing: 1px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.img-circle {
    border-radius: 50%;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.bg-default {
    background: #f5f7f9;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.lg\:gap-24 {
    gap: 6rem;
}
.lg\:items-center {
    align-items: center;
}
.lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.lg\:grid {
    display: grid;
}
.sm\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}
.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
}
.tracking-tight {
    letter-spacing: -0.025em;
}
.leading-7 {
    line-height: 1.75rem;
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.max-w-3xl {
    max-width: 48rem;
}
.mt-6 {
    margin-top: 1.5rem;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.votext{
    margin-top: -6px;
    margin-bottom: 6px;
    color: #6A6A6A;
    font-weight: 600;
    text-align: left;
}
.pad-12{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
